<div class="app-body">
  <p>
  <%= link_to "Edit Slide", edit_slide_path(@slide) %>
  <%= link_to "Delete Slide", slide_path(@slide), method: :delete %>
  </p>
  <p>Current Status: <%= @slide.status.capitalize %></p>
  <p>Slides will be displayed once approved.</p>
</div>
<% if @slide.title != "" %>
  <h1 class='billboard-title'><%= @slide.title %></h1>
  <h2 class='billboard-message'><%= @slide.message %></h2>
<% end %>
<img src="<%= @slide.image_url %>" class='billboard-image'>
